/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*            End of CSS Reset            */

/*                 Setup                  */

/*               Borderbox                */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* clearfix */

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  *zoom: 1;
}

/*               End of Setup             */

/*                  Font                  */

@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_semibold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_text.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_thin.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_ultralight.ttf") format("truetype");
  font-weight: 100;
}

/* Header Styles */

.header {
  background-color: black;
  text-align: center;
}

nav>ul>li {
  display: inline-block;
}

.nav-link {
  margin: 0 35px;
}

.hero {
  margin: 15px auto;
  width: 60%;
}

.hero-img {
  width: 40%;
  float: left;
  margin-left: 40px;
}

.hero-text {
  text-align: center;
  width: 45%;
  float: right;
  font-family: "Myriad Set Pro", sans-serif;
  margin-top: 230px;
  margin-right: 100px;
}

.hero-text>h2 {
  font-weight: 300;
  line-height: 1.1;
  font-size: 39px;
  margin: 10px 0 30px 0;
}

.hero-text>a {
  font-size: 24px;
  color: #08c;
  text-decoration: none;
  margin-right: 10px;
  font-weight: 300;
}

.hero-text>a:hover {
  text-decoration: underline;
  color: #666;
}

.apple-hero-content {
  clear: both;
  padding-top: 15px;
}

.col3 {
  width: 24.8%;
  height: 200px;
  display: inline-block;
}

.watch {
  background: url("images/watch_large.jpg");
  background-position: center;
}

.ipad {
  background: url("images/ipad_pro_large.jpg");
  background-position: center;
}

.accessories {
  background: url("images/accessories_large.jpg");
  background-position: center;
}

.macbook {
  background: url("images/macbook_large.jpg");
  background-position: center;
}

.adapter {
  margin: 20px;
  text-align: center;
}

.adapter>a {
  font-family: "Myriad Set Pro", sans-serif;
  font-size: 18px;
  color: #08c;
  text-decoration: none;
}

.adapter>a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #f2f2f2;
  font-family: "Myriad Set Pro", sans-serif;
  font-size: .78em;
}

.footer-content {
  margin: 0 auto;
  width: 55%;
}

.footer-col {
  width: 20%;
  float: left;
}

.footer-list {
  margin-top: 30px;
}

.footer-list>li {
  margin: 7px 0;
}

.footer-list>li>a {
  text-decoration: none;
  color: #666;
}

.footer-list>li>a:hover {
  text-decoration: underline;
}

.footer-list-header {
  font-weight: 700;
  color: #666;
}

.contact {
  clear: both;
  padding-top: 20px;
  color: rgb(102, 102, 102, 0.8);
  padding-bottom: 12px;
  border-bottom: 1px solid #e3e3e3;
}

.contact>p>a {
  color: #08c;
  text-decoration: none;
}

.contact>p>a:hover {
  color: #666;
  text-decoration: underline;
}

.copyright {
  color: rgb(102, 102, 102, 0.8);
  padding-bottom: 30px;
  margin-top: 12px;
}

.copyright-list>li {
  color: rgb(102, 102, 102, 0.8);
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #e3e3e3;
}

.copyright-list>li>a {
  text-decoration: none;
  color: #666;
}

.copyright-list>li>a:hover {
  text-decoration: underline;
}

#copyright-list-header {
  padding: 0;
  margin-right: 10px;
  border: none;
}

#copyright-last {
  border: none;
}

#united-states {
  float: right;
  border: none;
  text-decoration: none;
  vertical-align: top;
}

#united-states>a{
  vertical-align: top;
  display: inline-block;
}

#flag {
  display: inline-block;
  width: 21px;
  height: 16px;
  background: url("./images/usa.png");
  background-repeat: no-repeat;
  background-position: center;
  
}
